<AuPill @actionIcon="pencil" @onClickAction={{this.onClick}}>
  {{yield}}
  {{!-- {{@node.textContent}} --}}
</AuPill>
{{!-- <AuModal>
  <:title>Titel</:title>
  <:body>
    <p>Modal content</p>
  </:body>
  <:footer>
    <AuButton>Action</AuButton>
  </:footer>
</AuModal> --}}