{{! @glint-nocheck: not typesafe yet }}
<li class="au-c-list__item">
  <AuButton
    @icon={{this.AddIcon}}
    @iconAlignment='left'
    @skin='link'
    @disabled={{not this.canInsert}}
    {{on 'click' this.doInsert}}
  >
    {{t 'template-comments-plugin.insert.title'}}
  </AuButton>
</li>