<AuAlert
  @size='small'
  @title={{this.translation.title}}
  @skin='info'
  @icon='circle-info'
  class='say-template-comment {{
    if this.selectionInside 'ProseMirror-selectednode'
  }} say-default-cursor'
>
  <div class='say-text-cursor'>
    {{yield}}
  </div>
</AuAlert>