<AuAlert
  @size='small'
  @title={{t 'template-comments-plugin.long-title'}}
  @skin='info'
  @icon='circle-info'
  class='template-comment {{
    if this.selectionInside 'ProseMirror-selectednode'
  }} default-cursor'
>
  <div class='text-cursor'>
    {{yield}}
  </div>
</AuAlert>