.button-with-dropdown {
  display: flex;
  flex-direction: row;
  #button-with-dropdown--primary {
    button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  #button-with-dropdown--dropdown {
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  #button-with-dropdown--divider {
    width: 1px;
    background-color: rgba(
      255,
      255,
      255,
      0.4
    ); /* semi-transparent white works well on primary buttons */
    flex-shrink: 0;
  }
}
