.location-modal {
  .au-c-form-row > * {
    width: 100%;
  }

  .au-c-modal__body {
    padding: $au-unit-small;
    padding-bottom: 0;

    & > .au-o-grid {
      height: 100%;
    }
  }

  .edit-form {
    height: 100%;
    overflow: scroll;
  }

  .map-wrapper {
    height: 100%;
  }

  // Override the 'grab' cursor to 'pointer' so we can accurately pick points
  .map-cursor-pointer > .leaflet-grab {
    cursor: pointer;
  }

  .leaflet-container {
    height: 100%;
  }
}
