.say-inline-locked-placeholder {
  background-color: var(--au-gray-200);
  color: var(--au-gray-700);
  border-color: var(--au-gray-300);
}

.say-block-locked-placeholder {
  background-color: var(--au-gray-200);
  color: var(--au-gray-700);
  border-color: var(--au-gray-300);
  padding: 1.2rem;
}
