.snippet-modal {
  &--main-container {
    height: 100% !important;

    background-color: var(--au-gray-100);

    .au-c-sidebar {
      border-right: 0;
    }

    #content {
      display: flex;
      flex-direction: column;
    }
  }

  &--list-container {
    overflow: auto;
    flex-grow: 1;

    .snippet-list-table-select-column {
      width: 100px;
      text-align: center;
    }

    .snippet-list-table-created-column {
      width: 200px;
    }
  }

  .error-code {
    font-family: var(--au-font-tertiary);
  }
}

.snippet-preview {
  // double specificity fix
  // https://stackoverflow.com/a/47781599/20388916
  // compiles to .snippet-preview--container.snippet-preview--container { flex-direction: row; }
  // need this to override the default flex-direction: column of the panel container
  &--container {
    &#{&} {
      flex-direction: row;
    }
  }

  &--article {
    flex-grow: 1;

    .say-editor__paper,
    .say-editor__inner {
      min-height: auto;
      white-space: inherit;
    }

    .say-editor,
    .say-editor__inner {
      padding: 0;
    }
  }

  &--title {
    color: var(--au-gray-700);
    font-weight: var(--au-medium);
  }

  &--button {
    border-left: 1px solid var(--au-gray-200);
    display: flex;
    align-items: center;
  }

  &--editor-overlay {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &--editor-container {
    position: relative;
  }
}

.say-snippet-lists-table {
  .au-c-table-wrapper {
    margin-top: 20px;
    margin-right: 100px;

    .selectColumn {
      width: 200px;
    }
  }
}

.ProseMirror-selectednode > .say-snippet-placeholder {
  background-color: var(--au-blue-200);
}
