.snippet-modal {
  &--main-container {
    height: 100% !important;

    background-color: var(--au-gray-100);

    .au-c-sidebar {
      border-right: 0;
    }

    #content {
      display: flex;
      flex-direction: column;
    }
  }

  &--list-container {
    overflow: auto;
    flex-grow: 1;

    .snippet-list-table-select-column {
      width: 100px;
      text-align: center;
    }

    .snippet-list-table-created-column {
      width: 200px;
    }
  }

  .error-code {
    font-family: var(--au-font-tertiary);
  }
}

.snippet-preview {
  display: flex;
  flex-direction: column;
  background-color: var(--au-white);
  border: 0.1rem solid var(--au-gray-200);
  border-radius: var(--au-radius);

  &--expanded {
    > .snippet-preview__header {
      border-bottom: 0.1rem solid var(--au-gray-200);
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    > :nth-child(1) {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $au-unit-small;
      cursor: pointer;
    }
    > :nth-child(2) {
      border-left: 1px solid var(--au-gray-200);
      padding: $au-unit-small;
      cursor: pointer;
    }
  }

  &__title {
    color: var(--au-gray-700);
    font-weight: var(--au-medium);
  }

  &__content {
    padding: $au-unit-small $au-unit $au-unit-small $au-unit;
  }
}

.say-snippet-lists-table {
  .au-c-table-wrapper {
    margin-top: 20px;
    margin-right: 100px;

    .selectColumn {
      width: 200px;
    }
  }
}

.ProseMirror-selectednode > .say-snippet-placeholder {
  background-color: var(--au-blue-200);
}

.say-snippet-placeholder-node {
  background-color: var(--au-orange-200);
  padding: 2rem;

  div {
    font-weight: var(--au-medium);
  }
}

div[typeof='besluitpublicatie:Documentonderdeel']
  .say-snippet-placeholder-node {
  background-color: var(--au-gray-300);
}

.rdfa-annotations
  [typeof]:not([typeof='foaf:Document']).say-snippet-placeholder-node {
  padding-bottom: 2rem;
}

.say-snippet-card {
  border: 1px solid var(--au-blue-300);
  .say-snippet-title {
    background-color: var(--au-blue-300);
    font-size: 1.6rem;
    font-weight: var(--au-medium);
    padding: 5px;
  }
  .say-snippet-content {
    padding: 20px;
    min-height: 100px;
    padding-right: 44px;
  }
  .say-snippet-icons {
    display: flex;
    width: fit-content;
    position: absolute !important;
    right: 5px;
    bottom: 5px;
    flex-direction: column;
    .say-snippet-button {
      height: 32px;
      width: 32px;
      margin: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--au-blue-700);
      border-radius: 4px;
      color: var(--au-blue-700);
      cursor: pointer;
      &.say-snippet-hidden {
        color: transparent;
        border: none;
        cursor: auto;
      }
      &.say-snippet-remove-button {
        color: var(--au-red-600);
        border-color: var(--au-red-600);
      }
      .say-snippet-button-text {
        display: none;
        position: absolute !important;
        right: 38px;
        border: 1px solid;
        border-radius: 3px;
        width: max-content;
        font-size: 1.2rem;
        height: 32px;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;
        background-color: #fff;
      }
      &:hover .say-snippet-button-text {
        display: flex;
      }
    }
  }
}
