.snippet-modal {
  &--main-container {
    height: 100% !important;

    background-color: var(--au-gray-100);

    .au-c-sidebar {
      border-right: 0;
    }

    #content {
      display: flex;
      flex-direction: column;
    }
  }

  &--list-container {
    overflow: auto;
    flex-grow: 1;

    .snippet-list-table-select-column {
      width: 100px;
      text-align: center;
    }

    .snippet-list-table-created-column {
      width: 200px;
    }
  }

  .error-code {
    font-family: var(--au-font-tertiary);
  }
}

.snippet-preview {
  display: flex;
  flex-direction: column;
  background-color: var(--au-white);
  border: 0.1rem solid var(--au-gray-200);
  border-radius: var(--au-radius);

  &--expanded {
    > .snippet-preview__header {
      border-bottom: 0.1rem solid var(--au-gray-200);
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    > :nth-child(1) {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $au-unit-small;
      cursor: pointer;
    }
    > :nth-child(2) {
      border-left: 1px solid var(--au-gray-200);
      padding: $au-unit-small;
      cursor: pointer;
    }
  }

  &__title {
    color: var(--au-gray-700);
    font-weight: var(--au-medium);
  }

  &__content {
    padding: $au-unit-small $au-unit $au-unit-small $au-unit;
  }
}

.say-snippet-lists-table {
  .au-c-table-wrapper {
    margin-top: 20px;
    margin-right: 100px;

    .selectColumn {
      width: 200px;
    }
  }
}

.say-snippet-card {
  border: 1px solid var(--au-blue-300);
  border-radius: var(--au-radius);
  .say-snippet-title {
    background-color: var(--au-gray-100);
    border-radius: 0.1em 0.1em 0 0;
    font-size: 1.6rem;
    font-weight: var(--au-medium);
    padding: 5px;
    border-bottom: 1px solid var(--au-blue-300);
    color: var(--au-blue-700);
    .say-snippet-title-icon {
      background-color: var(--au-blue-300);
      color: black;
    }
  }
  .say-snippet-content {
    position: relative;
    padding: 20px;
    min-height: 100px;
    padding-right: 50px;
    margin-top: 0;
  }
  .say-snippet-icons {
    display: flex;
    width: fit-content;
    position: absolute !important;
    right: 5px;
    top: 0;
    margin-top: 0;
    flex-direction: column;
    .say-snippet-button {
      height: 32px;
      width: 32px;
      margin: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--au-blue-700);
      border-radius: 4px;
      color: var(--au-blue-700);
      cursor: pointer;
      &.say-snippet-remove-button {
        color: var(--au-red-600);
        border-color: var(--au-red-600);
      }
      .say-snippet-button-text {
        display: none;
        position: absolute !important;
        right: 38px;
        border: 1px solid;
        border-radius: 3px;
        width: max-content;
        font-size: 1.2rem;
        height: 32px;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;
        background-color: #fff;
      }
      &:hover .say-snippet-button-text {
        display: flex;
      }
    }
  }
}

.ember-node.say-active:has(> .say-snippet-card) {
  outline: none;
}

.ember-node.say-active > .say-snippet-card {
  border-color: var(--au-blue-700);
  border-width: 0.2rem;
  > .say-snippet-title {
    border-bottom-color: var(--au-blue-700);
    border-bottom-width: 0.2rem;
  }
}

.say-snippet.say-snippet-placeholder {
  display: flex;
  flex-direction: row;
  padding: $au-unit-small $au-unit-small * 1.5;
  background-color: var(--au-orange-300);
  border-radius: var(--au-radius);
  border: 0.1rem solid var(--au-orange-500);

  .say-snippet-placeholder__icon {
    background-color: var(--au-orange-500);
    color: black;
    height: $au-unit - 0.1rem; // compensate for visual distortion of perfect circle
    width: $au-unit;
    margin-right: $au-unit * 0.5;
    border-radius: $au-unit-large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .say-snippet-placeholder__content {
    margin-top: 0;
  }

  .say-snippet-placeholder__title {
    color: var(--au-orange-700);
    font-weight: var(--au-medium);
  }

  .say-snippet-placeholder__button {
    margin: 0;
    padding: 0;
  }
}

.ProseMirror-selectednode > .say-snippet.say-snippet-placeholder {
  background-color: var(--au-blue-200);
}

div[typeof='besluitpublicatie:Documentonderdeel']
  .say-snippet.say-snippet-placeholder {
  background-color: var(--au-gray-300);
}
