.snippet-modal {
  &--main-container {
    height: 100% !important;

    background-color: var(--au-gray-100);

    .au-c-sidebar {
      border-right: 0;
    }

    #content {
      display: flex;
      flex-direction: column;
    }
  }

  &--list-container {
    overflow: auto;
    flex-grow: 1;

    .snippet-list-table-select-column {
      width: 100px;
      text-align: center;
    }

    .snippet-list-table-created-column {
      width: 200px;
    }
  }

  .error-code {
    font-family: var(--au-font-tertiary);
  }
}

.snippet-preview {
  // double specificity fix
  // https://stackoverflow.com/a/47781599/20388916
  // compiles to .snippet-preview--container.snippet-preview--container { flex-direction: row; }
  // need this to override the default flex-direction: column of the panel container
  &--container {
    &#{&} {
      flex-direction: row;
    }
  }

  &--article {
    flex-grow: 1;

    .say-editor__paper,
    .say-editor__inner {
      min-height: auto;
      white-space: inherit;
    }

    .say-editor,
    .say-editor__inner {
      padding: 0;
    }
  }

  &--title {
    color: var(--au-gray-700);
    font-weight: var(--au-medium);
  }

  &--button {
    border-left: 1px solid var(--au-gray-200);
    display: flex;
    align-items: center;
  }

  &--editor-overlay {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &--editor-container {
    position: relative;
  }
}

.say-snippet-lists-table {
  .au-c-table-wrapper {
    margin-top: 20px;
    margin-right: 100px;

    .selectColumn {
      width: 200px;
    }
  }
}

.ProseMirror-selectednode > .say-snippet-placeholder {
  background-color: var(--au-blue-200);
}

.say-snippet-placeholder-node {
  background-color: var(--au-orange-200);
  padding: 2rem;

  div {
    font-weight: var(--au-medium);
  }
}

div[typeof='besluitpublicatie:Documentonderdeel']
  .say-snippet-placeholder-node {
  background-color: var(--au-gray-300);
}

.rdfa-annotations
  [typeof]:not([typeof='foaf:Document']).say-snippet-placeholder-node {
  padding-bottom: 2rem;
}

.say-snippet-card {
  border: 1px solid var(--au-blue-300);
  .say-snippet-title {
    background-color: var(--au-blue-300);
  }
  .say-snippet-icons {
    display: flex;
    width: fit-content;
    position: absolute !important;
    right: 5px;
    bottom: 5px;
    flex-direction: column;
    .say-snippet-button {
      height: 24px;
      width: 24px;
      margin: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--au-blue-700);
      border-radius: 4px;
      color: var(--au-blue-700);
      cursor: pointer;
      &.say-snippet-remove-button{
        color: var(--au-red-600);
        border-color: var(--au-red-600);
      }
      .say-snippet-button-text {
        display: none;
        position: absolute !important;
        right: 30px;
        border: 1px solid;
        border-radius: 3px;
        width: max-content;
        font-size: 0.8rem;
        height: 24px;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;
      }
      &:hover .say-snippet-button-text {
        display: flex;
      }
    }
  }
}
