.say-structure {
  border: 0.1rem solid var(--au-gray-300);
  border-radius: var(--au-radius);

  display: flex;
  flex-direction: column;
  white-space: normal;
}
.say-structure__header {
  background-color: var(--au-gray-100);
  display: flex;
  gap: 5px;
  flex-direction: row;
  padding-left: 0.7rem;
  border-bottom: 1px solid var(--au-gray-300);
  h5 {
    margin: 0;
    font-weight: var(--au-medium);
    font-size: var(--au-h-functional);
  }
  .say-structure__title {
    flex-grow: 1;
  }
  [contenteditable] {
    border: none;
    font-size: var(--au-h4);
    flex-grow: 1;
    &:focus {
      outline: none;
    }
    padding: 0;
    white-space: break-spaces;
    word-break: break-word;
    word-wrap: break-word;
  }
}
.say-structure__content {
  padding: 0.7rem;
  padding-right: 3rem;
  [data-slot] {
    white-space: break-spaces;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.say-structure__content.say-empty {
  [data-ember-node-content] {
    p::before {
      color: var(--au-gray-400);
      content: 'Fill in content...';
      float: left;
      height: 0;
      pointer-events: none;
    }
  }
}

.ember-node.say-active:has(> .say-structure) {
  outline: none;
}

.ember-node.say-active > .say-structure {
  border-color: var(--au-blue-500);
  border-width: 0.2rem;
  >.say-structure__header {
    border-bottom-color: var(--au-blue-500);
    border-bottom-width: 0.2rem;
  }
}
