$au-fractions: 1 2 3 4 5 6 8 12;
@import 'ember-appuniversum';

$prefix-width: 100px;
$add-button-width: 50px;

// overwrite the white-paper style of editor to instead blend in with background
.say-container--paper .say-editor__paper {
  background-color: var(--au-gray-100);
  box-shadow: none;
}

.title-block {
  background-color: var(--au-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// reduce default say-content paddings
.title-block div + * {
  margin-top: 0.4rem;
}


// give the prefixes a set width they do not wrap and are consistent in children
.prefix-text {
  min-width: $prefix-width;
}


.add-button {
  min-width: $add-button-width;
}

.add-button .au-c-icon {
  width: $add-button-width - 15px;
  height: $add-button-width - 15px;
}

.full-length {
  width: 100%;
}

// take any available flex space left
.fill-flex {
  flex: 1;
}

// Show `show-on-hover` when hovered over `hover-outer`
.hover-outer:hover.grey-on-hover, .hover-outer:hover .grey-on-hover {
  background-color: var(--au-gray-200);
}

.hover-outer:hover .show-on-hover {
  visibility: visible;
}

.show-on-hover {
  visibility: hidden;
}

// don't show hover for child of child
.hover-outer:hover .hover-outer .show-on-hover {
  visibility: hidden;
}

// Show a border around remove-border when hover over remove-button
// implemented functionality in JS (not possible in CSS, as long as `has()` is not supported)
.remove-button {
  min-width: 50px;
}

.remove-border {
  box-shadow: var(--au-red-600) 0px 3px 8px;
}

// content under a title block has some different defaults than AU
$soft-border: 1px solid var(--au-gray-400);

.title-block .au-c-input, .title-block .au-c-button--secondary, .title-block .au-c-textarea {
  border: $soft-border;
}

.content-area {
  min-height: 10rem;
}
