$au-fractions: 1 2 3 4 5 6 8 12;
@import 'ember-appuniversum';

$prefix-width: 50px;
$add-button-width: 50px;

// overwrite the white-paper style of editor to instead blend in with background
.say-container--paper .say-editor__paper {
  background-color: var(--au-gray-100);
  box-shadow: none;
}

.chapter {
  //margin: 0 0 0 (-$prefix-width);
  //padding: 0 0 0 ($prefix-width);
  background-color: var(--au-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// give the prefixes a set width they do not wrap and are consistent in children
  .prefix-text {
    min-width: $prefix-width;
  }


.add-button {
  min-width: $add-button-width;
}

.full-length {
  width: 100%;
}

// take any available flex space left
  .fill-flex {
    flex: 1;
  }

// Show `show-on-hover` when hovered over `hover-outer`
  .show-on-hover {
    visibility: hidden;
  }

  .hover-outer {
    padding: 5px;
  }

  .hover-outer:hover {
    background-color: var(--au-gray-200);
  }

  .hover-outer:hover .show-on-hover{ 
    visibility: visible;
  }

// Show a border around remove-border when hover over remove-button
// implemented functionality in JS (not possible in CSS, as long as `has()` is not supported)
  .remove-button {
    min-width: 50px;
  }

  .remove-border {
    box-shadow: var(--au-red-600) 0px 3px 8px;
  }