.say-template-comment {
  color: var(--au-blue-900);
  padding: $au-unit-small;
  border-radius: var(--au-radius);
  border: 0.1rem solid var(--au-gray-300);

  .au-c-alert__content {
    margin-top: 0;

    ::selection {
      background-color: var(--au-blue-300);
    }
  }

  background-color: var(--au-blue-200);

  .au-c-alert__icon {
    background-color: var(--au-blue-200);
  }

  .au-c-alert__message {
    color: var(--au-gray-900);

    p {
      white-space: break-spaces;
      word-wrap: break-word;
    }
  }

  &.ProseMirror-selectednode {
    outline: 2px solid var(--au-blue-500);
  }
}

.say-default-cursor {
  cursor: default;
}

.say-template-comment-content {
  cursor: text;
}
