<label class="au-c-toggle-switch">
  <input type="checkbox" 
         checked={{this.toggled}} 
         class="au-c-toggle-switch__input au-u-hidden-visually" 
         {{on "input" this.toggle}}/>
  <span class="au-c-toggle-switch__toggle"></span>
  <span class="au-c-toggle-switch__label">{{t "table-of-contents-plugin.toggle" }}</span>
</label>