<div class='chapter au-o-box'>
  <StructuredBlocksPlugin::EmberNodes::StructuredBlock
    @emberNodeArgs={{this.args}}
  >
    <:contentDOM>
      {{yield}}
    </:contentDOM>
    <:prefix>
      hfdst:
    </:prefix>
  </StructuredBlocksPlugin::EmberNodes::StructuredBlock>
</div>
<br />