<div class='au-u-flex au-u-flex--no-wrap'>
  {{#unless @indentLeft}}    
    <div class='add-button'></div>
  {{/unless}}
  <div class='prefix-text'></div>
  <div class='fill-flex'>
    {{yield}}
  </div>
  {{#unless @indentRight}}
    <div class='remove-button'></div>
  {{/unless}}
</div>