{{! @glint-nocheck: not typesafe yet }}
<div class='au-u-background-gray-100 au-u-padding-tiny table-of-contents'>
  <h3>{{this.title}}</h3>
  {{#if this.outline}}
    <TableOfContentsPlugin::EmberNodes::Outline
      @entries={{this.outline.entries}}
      @onEntryClick={{this.moveToPosition}}
    />
  {{/if}}
</div>