{{! @glint-nocheck: not typesafe yet }}
<li class='au-c-list__item'>
  <AuButton
    @icon={{this.AddIcon}}
    @iconAlignment='left'
    @skin='link'
    {{on 'click' this.insert}}
  >
    {{t 'date-plugin.insert.date'}}
  </AuButton>
</li>