{{! @glint-nocheck: not typesafe yet }}
<AuPill
  class='variable atomic'
  {{on 'click' @selectNode}}
>
  <span class="{{unless this.filled 'unfilled-variable'}}">
    {{this.humanReadableDate}}
  </span>
</AuPill>