{{! @glint-nocheck: not typesafe yet }}
<AuPill
  @icon={{this.PencilIcon}}
  @iconAlignment="right"
  class="variable atomic"
  {{on 'click' @selectNode}}
>
  {{this.humanReadableDate}}
  {{#if this.label}}
    <span class="label">
      ({{this.label}})
    </span>
  {{/if}}
</AuPill>