{{! @glint-nocheck: not typesafe yet }}
<div>
  {{yield
    (hash
      applicableTemplates=this.applicableTemplates
      hasApplicableTemplates=this.hasApplicableTemplates
      insert=this.insert
    )
  }}
</div>