<div
  class='snippet-preview--container au-c-panel au-u-margin-right'
  ...attributes
>
  <div
    class='snippet-preview--article au-u-padding au-u-padding-right-large rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover'
  >
    <h3 class='snippet-preview--title au-u-margin-bottom'>
      {{@snippet.title}}
    </h3>
    <div class="snippet-preview--editor-container">
      <div class="say-container__main">
        <div class="say-editor">
          <div class="say-editor__inner say-content">
            {{this.snippet.content}}
          </div>
        </div>
      </div>
      <div class="snippet-preview--editor-overlay"></div>
    </div>
  </div>
  <div class='snippet-preview--button au-u-padding-small'>
    <AuButton @skin='naked' {{on 'click' this.onInsert}}>
      {{t 'snippet-plugin.modal.select'}}
    </AuButton>
  </div>
</div>