{{! @glint-nocheck: not typesafe yet }}
<div
  class='snippet-preview--container au-c-panel au-u-margin-right'
  ...attributes
>
  <div
    class='snippet-preview--article au-u-padding au-u-padding-right-large rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover'
  >
    <h3 class='snippet-preview--title'>
      {{@snippet.title}}
    </h3>
  </div>
  <div class='snippet-preview--button au-u-padding-small'>
    <AuButton @skin='naked' {{on 'click' this.onInsert}}>
      {{t 'snippet-plugin.modal.select'}}
    </AuButton>
  </div>
</div>