<li class="au-c-list__item">
  <AuButton @icon="add" @iconAlignment="left" @skin="link" {{on 'click' this.insertTitle}} @disabled={{not this.canInsertTitle}}>
    {{t "document-title-plugin.insert-title"}}
  </AuButton>
</li>