<div>
  {{#each this.structureTypes as |structureType|}}
  <AuList::Item>
    <AuButton @icon="add" @iconAlignment="left" @skin="link" @disabled={{not (this.canInsertStructure structureType)}}
      {{on 'click' (fn this.insertStructure structureType)}}>
      Insert {{structureType.name}}
    </AuButton>
  </AuList::Item>
  {{/each}}
</div>