{{page-title 'Dummy'}}

<nav class='navbar'>
  <LinkTo class='navigation-link' @route='besluit-sample'>Besluit Sample</LinkTo>
  <LinkTo class='navigation-link' @route='regulatory-statement-sample'>Regulatory Statement Sample</LinkTo>
  <LinkTo class='navigation-link' @route='structured-blocks-sample'>New article UI Sample</LinkTo>
  <LinkTo class='navigation-link' @route='structured-blocks-regulation-sample'>Regulation Sample</LinkTo>
</nav>
{{outlet}}
<AuModalContainer/>