{{!-- template-lint-disable no-bare-strings --}}
{{page-title 'Dummy'}}

<AuModalContainer/>
<nav class='navbar'>
  <LinkTo class='navigation-link' @route='besluit-sample'>Besluit Sample</LinkTo>
  <LinkTo class='navigation-link' @route='regulatory-statement-sample'>Regulatory Statement Sample</LinkTo>
  <LinkTo class='navigation-link' @route='editable-node'>Editable Node Sample</LinkTo>
</nav>
{{outlet}}