{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-bare-strings }}
{{page-title 'LBLOD Plugins'}}

<AuModalContainer />
<nav class='navbar'>
  <LinkTo class='navigation-link' @route='besluit-sample'>Besluit Sample</LinkTo>
  <LinkTo
    class='navigation-link'
    @route='regulatory-statement-sample'
  >Regulatory Statement Sample</LinkTo>
  <LinkTo class='navigation-link' @route='snippet-edit-sample'>Snippet Edit
    Sample</LinkTo>
</nav>
{{outlet}}