<AuPill @icon="pencil" @iconAlignment="right" class="variable" {{on 'click' this.onClick}}>
  {{@node.attrs.humanReadableDate}}
  {{#if @node.attrs.label}}
    <span class="label">
      ({{@node.attrs.label}})
    </span>
  {{/if}}
</AuPill>