<AuPill @icon="pencil" @iconAlignment="right" class="variable atomic" {{on 'click' this.onClick}}>

  {{this.humanReadableDate}}
  {{#if @node.attrs.label}}
    <span class="label">
      ({{@node.attrs.label}})
    </span>
  {{/if}}
</AuPill>