{{! @glint-nocheck: not typesafe yet }}
<AuPill
  class='variable atomic'
  {{on 'click' @selectNode}}
>
  {{#if this.mandatee}}
    {{this.mandatee.fullName}}
  {{else}}
    <span class='mark-highlight-manual'>
      {{this.translations.placeholder}}
    </span>
  {{/if}}
</AuPill>