{{! @glint-nocheck: not typesafe yet }}
<li class="au-c-list__item">
  <AuButton
    @icon={{this.AddIcon}}
    @iconAlignment="left"
    @skin="link"
    {{on 'click' (fn this.insertAddress true)}}
    @disabled={{not this.canInsertAddress}}>
    {{t "editor-plugins.address.insert"}}
  </AuButton>
</li>